table, td, th{
				display: flex;
				justify-content:space-around;
				align-items:center;
				border-style: double;
				color:white;
				background-color:yellow;
				
			}
			
			body{
				display:flex;
				align-items: bottom;
				background-image:url('Rum.jpg');
				font-family: 'Oswald', sans-serif;
				background-size: cover;
			}
			
		
			
			#big{
				width:75%;
				margin-left:auto;
				margin-right:auto;
				color:white;
				background-color:blue;
				position:relative;
			}
			
			#pic{
				position:absolute;
				top:20px;
				right:60px;
				width:150px;
			}
			a:hover{
				color: red;
			}
			
			img{
				width:65px;
			}